:root {
    --blu: #0A1F44;
    --turchese: #00C2D1;   
    --azzurro: #7FE3F0;
    --bianco: #F5F7FA;
    --arancione: #FF6B35;
}

.bg-turchese{
    background-color: var(--turchese);
}

.bg-blu{
    background-color: var(--blu);
}

.bg-azzurro{
    background-color: var(--azzurro);
}

.bg-arancione{
    background-color: var(--arancione);
}

.text-turchese{
    color: var(--turchese);
}

.text-blu{
    color: var(--blu);
}

.text-bianco{
    color: var(--bianco);
}

.text-arancione{
    color: var(--arancione);
}

.title {
    color: var(--blu);
    text-shadow: 5px 2px var(--bianco);
    font-weight: 500;
}

.subtitle {
    color: var(--blu);
    text-shadow: 1px 1px var(--bianco);
}

.height-custom {
    min-height: calc(100vh - 160px);
}

.box-bg{
    background-color: var(--azzurro);
    color: var(--blu);
}

.nav-custom{
    color: var(--bianco);
    text-shadow: 1px 1px var(--bianco);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 80px;
    padding-bottom: 90px;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.badge-revisor {
    font-size: 0.85rem;
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid var(--bianco);
    box-shadow: 0 0 6px var(--blu);
}

.search-input {
    border: 2px solid var(--arancione) !important;
    border-right: none;
    background-color: var(--bianco) !important;
    color: var(--blu) !important;
}

.search-input:focus {
    border-color: var(--arancione) !important;
}

.search-btn {
    background-color: var(--arancione) !important;
    color: var(--bianco) !important;
    border: 2px solid var(--arancione) !important;
    padding: 0.375rem 0.75rem;
    border-radius: 0 0.375rem 0.375rem 0;
}

.search-btn:hover {
    background-color: var(--bianco) !important;
    color: var(--arancione) !important;
}

.search-input,
.search-input:focus,
.search-btn,
.input-group > .form-control {
    box-shadow: none !important;
}

.btn-arancione {
    background-color: var(--arancione) !important;
    color: var(--bianco) !important;
    border: 2px solid var(--arancione) !important;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: 0.2s ease-in-out;
}

.btn-arancione:hover {
    background-color: var(--bianco) !important;
    color: var(--arancione) !important;
}

.btn-card {
    background-color: white !important;
    color: var(--arancione) !important;
    border: 2px solid var(--arancione) !important;  
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: 0.2s ease-in-out;
}

.btn-card:hover {
    background-color: var(--arancione) !important;
    color: var(--bianco) !important;
}



